body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  font: 1.5em/1.2 NanumGothic, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body,h1,header,article,p{display:block;margin:0;padding:0}

.clear {*zoom:1}
.clear:after{content: " ";display:block;clear:both}

header {
  display: none;
}

.fb-like {
  position: absolute!important;
  top: 5px;
  left: 5px;
  z-index: 100;
}

.body {
  text-align: center;
}
.page {
  height: 490px;
}

article {
  position: absolute;
  z-index: 1;
  width: 33%;
  min-width: 300px;
  padding: 10px 0 20px;
  vertical-align: top;
}
article .basic {
  position: relative;
  z-index: 20;
  width: 300px;
  margin: 0 auto;
}
article:hover {
  z-index: 2;
}
article .details {
  transition: 500ms;
  opacity: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 85px;
  left: 50%;
  z-index: 10;
  width: 150px;
  height: 150px;
  margin-left: -100px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255,255,255,.85);
  box-shadow: 0 0 1px #000;
  font-size: 13px;
  text-align: right;
}
.notouch article.last .details {
  text-align: left;
}
article.expensive .details {
  background: #fdd;
}
article.cheap .details {
  background: #ddf;
}
article .history {
  position: absolute;
  bottom: 30px;
  right: 10px;
  height: 70px;
}
.notouch article.last .history {
  right: auto;
  left: 10px;
}
article .history-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.notouch article.last .history-label {
  right: auto;
  left: 10px;
}
article:hover .details {
  opacity: 1;
  margin-left: 100px;
}
.notouch article.last:hover .details {
  margin-left: -250px;
}
article .photo {
  transition: border 500ms;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 200px;
  border: solid 150px rgba(0,0,0,.2);
  background-size: cover;
  background-origin: border-box;
}
article:hover .photo {
  border: solid 1px #000;
}
article h1 {
  margin: 10px 0;
  font-size: 45px;
}
article .price {
  font-size: 35px;
}
article.expensive .price .val {
  color: #600;
}
article.cheap .price .val {
  color: #006;
}
article .price .pack {
  font-size: 13px;
}
article .photo-license {
  display: none;
}
article .price-diff {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #999;
}

#comments {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}

.touch .page {
  height: auto;
}
.touch article {
  position: relative;
  width: 80%;
  left: 0!important;
}
.touch article .details {
  opacity: 1;
  margin-left: 100px;
}

@media only screen and (max-width: 900px) {
  .page {
    height: 390px;
  }
  article {
    min-width: 200px;
  }
  article .basic {
    width: 200px;
  }
  article .photo {
    width: 200px;
    height: 200px;
    border-width: 100px;
  }
  article:hover .photo {
    border-width: 1px;
  }
  article .details {
    top: 35px;
    font-size: 12px;
  }
  article:hover .details,
  .touch article .details {
    margin-left: 50px;
  }
  .notouch article.last:hover .details {
    margin-left: -200px;
  }
}
