<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta property="og:image" content="http://nrj.miya.pe.kr/i/crab.png">
  <meta name="title" content="노량진 수산시장 시세">
  <meta name="description" content="오늘의 킹크랩 가격은? 오징어는 한마리에 얼마할까요? 노량진 수산시장 시세에서 확인해보세요.">
  <title>노량진 수산시장 시세</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="/i/crab.png">
  <link rel="stylesheet" href="/c/c.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
  <script>
  document.getElementsByTagName("html")[0].className = (Modernizr.touch) ? "touch" : "notouch";
  </script>
</head>
<body>
  <header>
    <h1><a href="/">노량진 수산시장</a> 시세 (<a href="http://www.susansijang.co.kr/cost/todayCost.do"><%= new Date().hstr('m/d') %> 현재</a>)</h1>
  </header>
  <div class="fb-like" data-href="http://nrj.miya.pe.kr" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
<%
var list_idx = 0, list_size = list.length;
%>
  <div id="index" class="body">
<%
list.forEach(function (fish) {
  if (!fish || !fish.prices || fish.prices.length === 0) return;
  console.log(fish);

  var data = fish.prices;
  var name = data[0].name;
  var price = data[0].price;
  var changes = data[1].price ? data[0].price - data[1].price : 0;
  var articleClass = (price > fish.avg_price) ? 'expensive' : 'cheap';
  articleClass += list_idx%3 === 2 ? ' last' : '';
%>
<% if (list_idx%3 === 0 && list_idx > 0) { %></div><% } %>
<% if (list_idx%3 === 0) { %><div class="page"><% } %>
      <article class="<%= articleClass %>" style="left:<%= (list_idx%3)*33 %>%">
        <div class="basic">
          <div class="photo" style="background-image:url(<%= fishUtil.getPhoto(name) %>)"></div>
          <span class="photo-license">license: <%= fishUtil.getPhotoFrom(name) %></span>
          <h1><%= name %></h1>
          <div class="price">
            <strong class="val">&#8361;<%= price %><i class="pack">/<%= fishUtil.getPack(name) %></i></strong>
          </div>
          <div class="price-diff"><%= changes > 0 ? '+' : ''
            %><%= changes === 0 ? '-' : changes %></div>
        </div>
        <div class="details">
          <div class="origin">원산지: <%= fishUtil.getHome(name) %></div>
          <div class="history-label"><small>최근 가격 추이</small></div>
          <div class="history"><%
            var idx = 0;
            data.reverse();
            data.forEach(function (info) {
              idx++;
              if (idx > 1) {%>,<%}
              %><%= info.price %><%
          }); %></div>
        </div>
      </article>
<%
  list_idx++;
});
%>
    </div>
  </div>

  <div id="comments"></div> 
  <script src="//comments.skplanetx.com/script/plugin.js"></script> 
  <script type="text/javascript"> 
  SKP.commentsPlugin({ 
      target_id: 'comments', 
      op_app_key: '6eec0bfa-b970-3818-99f5-008c97881f81',
      page_id: 'nrj',
      page_url: 'http://nrj.miya.pe.kr',
      page_title: '노량진 수산시장 시세',
      is_responsive: true
  }); 
  </script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37817939-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
  <script>
    $('.expensive .history').sparkline('html', {
      width: 100,
      height: 70,
      fillColor: false,
      lineColor: '#f00'
    }); 
    $('.cheap .history').sparkline('html', {
      width: 100,
      height: 70,
      fillColor: false,
      lineColor: '#00f'
    }); 
  </script>

  <img src="/i/crab.png" style="display:none">
</body>
</html>
