<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>노량진 수산시장 시세</title>
  <link rel="stylesheet" href="/c/c.css">
</head>
<body>
  <header>
    <h1><a href="http://www.susansijang.co.kr/cost/todayCost.do">노량진 수산시장</a> 시세 (<%= new Date().hstr('Y-m-d') %> 현재)</h1>
  </header>
  <div id="index" class="body">
<%
list.forEach(function (data) {
  if (data.length <= 0) {
    return;
  }

  var name = data[0].name;
  var price = data[0].price;
  var changes = data[1].price ? data[0].price - data[1].price : 0;
  var changeClass = changes > 0 ? 'plus' : changes < 0 ? 'minus' : 'balance';
%>
    <article class="<%= changeClass %>">
      <a href="/sise/<%= name %>">
        <h1><%= name %></h1>
        <strong class="num"><%= price %><i class="pack">/<%= fishUtil.getPack(name) %></i></strong>
        <small class="num"><%= changeClass === 'plus' ? '+' : ''
          %><%= changes === 0 ? '-' : changes %></small>
      </a>
    </article>
<%
});
%>
  </div>
</body>
</html>
