<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>노량진 수산시장 시세</title>
  <link rel="stylesheet" href="/c/c.css">
</head>
<body>
  <header>
    <h1>노량진 수산시장 시세 (<%= new Date().hstr('Y-m-d') %> 현재)</h1>
  </header>
<%
list.forEach(function (data) {
  var name = data[0].name;
  var price = data[0].price;
  var changes = data[1].price ? data[0].price - data[1].price : 0;
  var changeClass = changes > 0 ? 'plus' : changes < 0 ? 'minus' : 'balance';
%>
  <article class="<%= changeClass %>">
    <a href="/sise/<%= name %>">
      <h1><%= name %></h1>
      <strong class="num"><%= price %></strong>
      <small class="num"><%= changeClass === 'plus' ? '+' : changeClass === 'minus' ? '-' : ''
        %><%= changes %></small>
    </a>
  </article>
<%
});
%>
  <article class="minus">
  <a href="#">
    <h1>마이너스테스트</h1>
    <strong class="num">50000</strong>
    <small class="num">-1200</small>
</a>
  </article>
  <article class="balance">
<a href="#">
    <h1>보합테스트</h1>
    <strong class="num">50000</strong>
    <small class="num">-1200</small>
</a>
  </article>
</body>
</html>
