<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta property="og:image" content="http://nrj.miya.pe.kr/i/crab.png">
  <meta name="title" content="노량진 수산시장 시세">
  <meta name="description" content="오늘의 킹크랩 가격은? 오징어는 한마리에 얼마할까요? 노량진 수산시장 시세에서 확인해보세요.">
  <title><%= name %> | 노량진 수산시장 시세</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="/i/crab.png">
  <link rel="stylesheet" href="/c/c.css">
  <link rel="stylesheet" href="/c/tipsy.css">
  <style>
  /* tipsy circle element padding monkey patching */
  .tipsy {margin-left:3px}
  </style>
</head>
<body>
  <header>
    <h1><a href="/">노량진 수산시장</a> 시세 (<a href="http://www.susansijang.co.kr/cost/todayCost.do"><%= new Date().hstr('m/d') %> 현재</a>)</h1>
    <div class="fb-like" data-href="http://nrj.miya.pe.kr" data-send="false" data-layout="button_count" data-width="100"
data-show-faces="false"></div>
  </header>
  <div class="body">
<%
var name = list[0].name;
var price = list[0].price;
var changes = list[1].price ? list[0].price - list[1].price : 0;
var changeClass = changes > 0 ? 'plus' : changes < 0 ? 'minus' : 'balance';
%>
<article class="<%= changeClass %>">
  <a href="/sise/<%= name %>">
    <img alt="" src="<%= fishUtil.getPhoto(name) %>">
    <span class="photoLicense">license: <%= fishUtil.getPhotoFrom(name) %></span>
    <h1><%= name %></h1>
    <div class="origin">(원산지: <%= fishUtil.getHome(name) %>)</div>
    <div class="price">
      <strong class="num"><%= price %><i class="pack">/<%= fishUtil.getPack(name) %></i></strong>
      <small class="num"><%= changeClass === 'plus' ? '+' : ''
        %><%= changes === 0 ? '-' : changes %></small>
    </div>
  </a>
  <div class="history">
    지난 5일:
    <% var idx = 0; %>
    <% list.forEach(function (info) { %>
      <% idx++ %>
      <% if (idx === 1) return; %>
      <% if (idx > 6) return false; %>
      <%= idx > 2 ? '-' : '' %>
      <%= info.price.format() %>
    <% }); %>
  </div>
</article>
<div id="graph"></div>

<script src="/j/d3.min.js"></script>
<script src="/j/jquery-1.8.3.min.js"></script>
<script src="/j/jquery.tipsy.js"></script>
<script>
<% list.reverse(); %>
(function ($, d3) {
  var data = [<%
    for (var i=0, l=list.length; i<l; i++) {
      %><%= list[i].price %><%= i+1 < l ? ',' : '' %><%
    }
  %>], ymdData = [<%
    for (var i=0, l=list.length; i<l; i++) {
      %>'<%= list[i].ymd %>'<%= i+1 < l ? ',' : '' %><%
    }
  %>], minWindowWidth = 500;
  var w = Math.max(minWindowWidth, $(window).width() - 90),
      h = 200,
      isNarrowWindow = w < 800;
      min = d3.min(data),
      max = d3.max(data),
      x = d3.scale.linear().domain([0, data.length]).range([0, w]),
      y = d3.scale.linear().domain([max + 2000, min - 2000]).range([0, h]),
      val_array = [];

  for (var i=0, l=data.length; i<l; i++) {
    val_array.push({
      x: i,
      y: data[i]
    });
  }

  var graph = d3.select("#graph")
                .data([val_array])
                .append("svg")
                  .attr("width", w + 90)
                  .attr("height", h + 30)
                .append("g")
                  .attr("transform", "translate(60)");

  var rules = graph.selectAll("g.rule")
                   .data(x.ticks(15))
                   .enter().append("g")
                     .attr("class", "rule");

  // draw grid lines
  rules.append("line")
       .attr("x1", x)
       .attr("x2", x)
       .attr("y1", 0)
       .attr("y2", h - 1);

  rules.append("line")
       .attr("class", function (d) {return d ? null : "axis";})
       .data(y.ticks(10))
       .attr("y1", y)
       .attr("y2", y)
       .attr("x1", 0)
       .attr("x2", w - 10);

  // place axis tick labels
  rules.append("text")
       .attr("x", x)
       .attr("y", h + 15)
       .attr("dy", ".71em")
       .attr("text-anchor", "middle")
       .text(function(x){
         var ymd = ymdData[x];
         if (ymd && isNarrowWindow) {
           return ymd.substr(4,2) + '/' + ymd.substr(6,2);
         }
         if (ymd) {
           return ymd.substr(0,4) + '/' +
                  ymd.substr(4,2) + '/' +
                  ymd.substr(6,2);
         }
         return '';
       });

  rules.append("text")
       .data(y.ticks(12))
       .attr("y", y)
       .attr("x", -10)
       .attr("dy", ".35em")
       .attr("text-anchor", "end")
       .text(y.tickFormat(5));

  // line
  graph.append("path")
       .attr("class", "line")
       .style("stroke-width", 3)
       .style("stroke", "steelblue")
       .style("fill", "none")
       .attr("d", d3.svg.line()
                        .x(function (d) { return x(d.x); })
                        .y(function (d) { return y(d.y); })
                        .interpolate("linear"));

  graph.selectAll("circle.line")
       .data(val_array)
       .enter().append("circle")
         .attr("class", "line")
         .attr("fill", "maroon")
         .attr("cx", function (d) { return x(d.x); })
         .attr("cy", function (d) { return y(d.y); })
         .attr("r", 5)
         .text(function (d) {
           var ymd = ymdData[d.x];
           var price = d.y;
           return ymd ? ymd.substr(0,4) + '/' +
                  ymd.substr(4,2) + '/' +
                  ymd.substr(6,2) +": "+ price +"원" : '';
         });

  $('g circle').tipsy({
    gravity: 's', 
    html: true,
    offset: 2,
    title: function() {
      return this.textContent;
    }
  });
})(jQuery, d3);
</script>

  <div id="comments_plugin1"></div> 
  <script src="//comments.skplanetx.com/script/plugin.js"></script> 
  <script type="text/javascript"> 
  SKP.commentsPlugin({ 
      target_id: 'comments_plugin1', 
      op_app_key: '6eec0bfa-b970-3818-99f5-008c97881f81',
      page_id: 'nrj',
      page_url: 'http://nrj.miya.pe.kr',
      page_title: '노량진 수산시장 시세',
      is_responsive: true
  }); 
  </script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37817939-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <img src="/i/crab.png" style="display:none">
</body>
</html>
